body{
    background-color: black;
}
.navbar{
    background-color: #333;
    color: white;
    overflow: hidden;
    margin-left:30px;
    margin-top:30px;
    position: relative;

}
#nav{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 100px;
}
#navv{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    margin-left: 100px;
}
#nav:hover{
    background-color: #ddd;
    color: black;
}


.container{
    margin-top: 40px;
    color: white;
    text-align: center;
    padding: 50px;
    background-image: url(Aryanphotos.jpeg.jpg);
    background-size: cover;
}
.section{
    background-color: #333;
    margin-top: 10px;
    color: white;
    
    padding: 50px;
}
.carier-10th{
    display: grid;
    background-color:rgb(164, 109, 13);
    height: 70px;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    
    padding: 50px;
}
.carier-12th{
    display: grid;
    background-color:#c4c4c4;
    height: 70px;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    
    padding: 50px;
}
.carier-btech{
    display: grid;
    background-color:rgb(164, 109, 13);
    height: 70px;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
    
    padding: 50px;
}
.contact-form{
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    width: 400px;
    height: 300px;
    text-align: center;
}